@import "/styles/variables";

.btn {
  cursor: pointer;
  width: 100%;
  border: 0;
  padding: .5rem 0;
  color: #fff;
  background-color: $primeColor1;
  font-family: $fontPoppins;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.3s;
  @media screen and (min-width: 1024px) {
    padding: .5rem 1.5rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
  }
  &:hover {
    filter: brightness(1.2);
  }
}
.btnRnd{
  border-radius: 100px;
}
.btnSq {
  border-radius: 12px;
  padding: 1rem 2rem;
}

