@import "/styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 2rem auto 0 auto;
  @media screen and (min-width: 1024px) {
    width: 100%;
    justify-content: flex-start;
  }
  .wrapper {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primeColor2;
    width: 80%;
    border-radius: 10px;
    padding: 1rem 0;
    &.none {
      display: none;
      @media screen and (min-width: 1024px) {
        display: flex;
      }
    }
    @media screen and (min-width: 1024px) {
      position: static;
      transform: none;
      flex-direction: row;
      border-radius: 0;
      background-color: transparent;
      width: 90%;
      display: flex;
      justify-content: space-between;
    }
  }
  .logo {
    width: 40%;
    margin-top: 5px;
    @media screen and (min-width: 1024px) {
      width: 10%;
      margin: auto 0;
    }
  }
  ul {
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1024px) {
      margin: 0;
      width: auto;
      color: $GrayishViolet;
      flex-direction: row;
    }
    li {
      font-weight: 700;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      &:last-child {
        text-align: center;
        border-bottom: 1px solid rgba($GrayishViolet, 0.2);
        width: 100%;
      }
      @media screen and (min-width: 1024px) {
        font-weight: 700;
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        &:hover {
          color: $VeryDarkViolet;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .hamburger {
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
