@import "/styles/variables";

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  font-family: $fontPoppins;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
